*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    width:100wv;

    
}

.container{
    width:100wv;
    height:100vh;
    background-color: black;
}

.header{
    background-image:url("netflix background.jpg");
    height:100vh;
    position: absolute;
    width:100%;
    border-bottom: 6px solid grey;
}

.overlay{
    background-color: rgba(0,0,0,0.6);
    position:relative;
    width:100%;
    height:100vh;
}

.nav{
    display:flex;
    width:100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0 50px;
    padding-top: 30px;
}

.btnp{
    padding:10px;
    width:90px;
    border:none;
    background-color: red;
    border-radius: 4px;
    color:white;
    font-size: 20px;
    font-weight: 10px;
}

.items{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:200px;
    color:white;
    text-align: center;
    padding-top: 97px;
   
}

.items h1{
    font-size: 3.125em;
  font-weight: 500;
  max-width: 640px;
  line-height: 1.1em;
}

.items h2{
 font-size: 1.625em;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 10px;
}

h4{
  font-size: 1.2em;
  font-weight: 400;
  padding-top: 0.8em;
}

.email{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px
}

input{
  height: 60px;
  min-width: 450px;
  padding-left: 10px;
  font-size: 1em;
  outline: 0;
  color: black;
}

button{
  min-height: 60px;
  min-width: 74px;
  width: 225px;
  padding: 0;
  border: 1px solid #f40612;
  background-color: #f40612;
  font-size: 1.625em;
}

a{
    text-decoration: none;
    color:white;
    font-weight: 400;
    
}

.main{
 display:flex;
 gap: 1em;
  width: 100%;
  padding: 5% 5% 5% 10%;
  border-bottom: 8px solid #222;
  justify-content: space-between;
  align-items: center;
  height:100vh;
  background-color: black;
}

.talk{
  width:45%;
  color:white;
}

.img{
    width:45%;
    position: relative;
    z-index:1;
}

.img img{
  width:100%;
  float: right;
  background: transparent;
}

.visual{
 position: absolute;
  top: 126%;
  right: 380px;
  transform: translate(50%);
  overflow: hidden;
}

video{
    width:96%;
}

.talk h2{
    font-size: 3.1rem;
    padding-bottom: 10px;
    width:100%;
}

.talk h3{
    font-size: 1.625rem;
    font-weight: 400;
    line-height: 30px;
}


    
.main{
 display:flex;
 gap: 1em;
  width: 100%;
  padding: 5% 5% 5% 10%;
  border-bottom: 8px solid #222;
  justify-content: space-between;
  align-items: center;
  height:100vh;
  background-color: black;
}

.talk{
  width:50%;
  color:white;
}




.talk h2{
    font-size: 3.3rem;
    padding-bottom: 10px;
}

.talk h3{
    font-size: 1.625rem;
    font-weight: 400;
    line-height: 30px;
}

.mobile img{
    max-width: 95%;
  margin-left: -70px;
  float: left;
 
}

.stranger{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 0.65em 0.75em;
  border: 2px solid hsla(0, 13%, 87%, 0.25);
  border-radius: 0.75em;
  gap: 4em;
  width: 330px;
  max-width: 100%;
  top: 260%;
  left: 12.5%;
  position: absolute;
  z-index: 1;
}

.box{
  display: flex;
  align-items: center;
  gap:1em;
  
}

.box img{
  max-width: 28%;
  height: 75px;
 
}

.box-img > img{
  height:50px;
  float:right;
}

.box p:nth-of-type(2) {
  color: blue;
  font-size: 0.9em;
  font-weight: 400;
  margin-top: -3px;
 
}

.prime{
  color:white;
}

.middle{  
 display:flex;
 gap: 1em;
  width: 100%;
  padding: 5% 5% 5% 10%;
  border-bottom: 8px solid #222;
  justify-content: space-between;
  align-items: center;
  height:60vh;
  background-color: black;
}


 .talk{
  width:50%;
  color:white;
 
}

.talk h2{
    font-size: 3.3rem;
    padding-bottom: 10px;
   
}

.talk h3{
    font-size: 1.625rem;
    font-weight: 400;
    line-height: 30px;
}

.view6 {
  display: block;
  padding: 50px 0;
  background-color: black;
   border-bottom: 6px solid grey;
   
}

.questions {
  width: 80%;
  margin: 20px auto;
  color:white;
  text-align: center;
}

.questions h2{
    font-size: 45px;
    padding-bottom:26px;
}

.view6 summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 3px 30px;
 
}

.view6 span {
  font-size: 50px;
   font-weight: 100;
}

.view6 details > p {
  border-top: 2px solid black;
  padding: 30px;
}

details {
  background: #303030;
  margin: 0 auto 8px;
  font-size: 1.625em;
  width: 75%;
}

.fill {
    padding-top: 35px;
}

footer {
  width: 100%;
  background-color: black;
   height:60%;
 
}

.feet{
  width:60%;
  padding:75px 0px 35px;
  margin: auto;
  font-size: 13px;
 
  
}

footer a {
  text-decoration: none;
  color: #8c8c8c;
  cursor: pointer;
  margin:auto;
   
}


footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.2em;
  margin: 30px auto 40px;
  margin-left: 0;
  
}

.list {
  display: flex;
  gap: 7em;
 
}

footer span {
  color: #8c8c8c;
  padding-left: 30px;
}

footer span:nth-of-type(1) {
  font-size: 16px;
}

